
.grid_12
  %h1#browse_title Browse by zone
  .grid_7.alpha
    .blabla.tip
      Click on an IFBL square to obtain the checklists performed on this zone.
  
  =image_tag 'spinner.gif', {:style => 'float:right;', :id => 'spinner'}  
  
.clear

.grid_12
  #bg_selector

.clear

.grid_12
  #browse_map
.clear

.grid_12
  #results

:javascript
  $(document).ready(function(){
    
    var map = IFBL.initMap('browse_map');    
    IFBL.current_page.map = map;

    IFBL.current_page.results_div = $('#results');

    $('#spinner')
        .hide()  // hide it initially
        .ajaxStart(function() {
            $(this).show();
        })
        .ajaxStop(function() {
            $(this).hide();
        })
    ;

    $('#bg_selector').append(IFBL.getBgSelector(map));
    $('#bg_selector').append(IFBL.getAddLayersButtons(map));
    $('#bg_selector').append(IFBL.getGeneralizeButton());
    
    var generalized_squares = new OpenLayers.Layer.WMS(IFBL.constants.mylayers.allsquares_generalized.label , IFBL.constants.wms_url, {
      layers: IFBL.constants.mylayers.allsquares_generalized.name, 
      transparent: true,
      }, {singleTile: true, isBaseLayer: false, minResolution: IFBL.constants.switch_resolution} );
    
    var original_squares = new OpenLayers.Layer.WMS(IFBL.constants.mylayers.allsquares_original.label, IFBL.constants.wms_url, {
      layers: IFBL.constants.mylayers.allsquares_original.name, 
      transparent: true,
      }, {singleTile: true, isBaseLayer: false, maxResolution: IFBL.constants.switch_resolution} );

    IFBL.current_page.highlightLayer = new OpenLayers.Layer.Vector("Highlighted", {isBaseLayer: false, visibility: true});

    map.addLayers([generalized_squares, original_squares, IFBL.current_page.highlightLayer]);

    IFBL.current_page.adaptMapToCheckBox = function(checkbox, mymap) {
      var general_layer =  mymap.getLayersByName(IFBL.constants.mylayers.allsquares_generalized.label)[0];
      var detailed_layer = mymap.getLayersByName(IFBL.constants.mylayers.allsquares_original.label)[0];

      if (jQuery(checkbox).is(':checked')) {
        IFBL.current_page.checkbox_checked = true;
        detailed_layer.addOptions({maxResolution: 100});
        detailed_layer.redraw();
        detailed_layer.setVisibility(false); detailed_layer.setVisibility(true); // Stupid trick to FORCE REFRESH, redraw is not enough

        general_layer.setVisibility(true);
      }
      else {
        IFBL.current_page.checkbox_checked=false;
        detailed_layer.addOptions({maxResolution: null});
        detailed_layer.redraw();
        general_layer.setVisibility(false);
      }
    };

    

    IFBL.current_page.processReceivedChecklists = function(response) {

      IFBL.current_page.results_div.append($('<h1 id="results_title">Results</h1>'));
      if (response.length == 0) {
        IFBL.current_page.results_div.append($('<p>No results.</p>'));
      }
      else {
        if (response.length > 1) {
          var $p = $('<p>' + response.length + ' checklists were performed on the selected square.' + '</p>');
        }
        else if (response.length ==1) {
          var $p = $('<p>1 checklist was performed on the selected square.' + '</p>');
        }

        var $dl_button = $('<a id="dl_checklists_button" href="/ifbl/ajax/checklist_by_area_csv?feature_id='+ IFBL.current_page.selected_feature[0].attributes.id + '">Download results as CSV</a>').button({icons: {primary: 'ui-icon-gear'}});      

        IFBL.current_page.results_div.append($p.append($dl_button));

        var i;
        for (i = 0; i < response.length; i+=1) {
          IFBL.current_page.results_div.append(IFBL.generateBlockForChecklist(response[i]));
        }
      }
      
    $("#results").scrollintoview();  
    };

    IFBL.current_page.callbackGetInfo = function(response) {
      // Highlight
      var features = new OpenLayers.Format.GML().read(response);
      IFBL.current_page.highlightLayer.destroyFeatures();
      IFBL.current_page.highlightLayer.addFeatures(features);
      IFBL.current_page.highlightLayer.setVisibility(true);
      IFBL.current_page.selected_feature = features;

      // Request square info to backend
      $.getJSON('/ifbl/ajax/checklists_by_area', {feature_id: IFBL.current_page.selected_feature[0].attributes.id}, IFBL.current_page.processReceivedChecklists);
    };

    IFBL.current_page.layerInViewByUser = function() {
      if (map.resolution < 100 || ! IFBL.current_page.checkbox_checked) { 
        return IFBL.constants.mylayers.allsquares_original.name;
      } else {
        return IFBL.constants.mylayers.allsquares_generalized.name;
      }
    };

    IFBL.current_page.adaptMapToCheckBox($('#generalize'), IFBL.current_page.map);

    map.events.register('click', map, function (e) {
      var params = {
        REQUEST: "GetFeatureInfo",
        EXCEPTIONS: "application/vnd.ogc.se_xml",
        BBOX: map.getExtent().toBBOX(),
        X: Math.floor(e.xy.x),
        Y: Math.floor(e.xy.y),
        INFO_FORMAT: 'application/vnd.ogc.gml',
        QUERY_LAYERS: IFBL.current_page.layerInViewByUser(map),
        LAYERS: IFBL.current_page.layerInViewByUser(map),
        SRS: 'EPSG:900913',
        WIDTH: map.size.w,
        HEIGHT: map.size.h
      };

      IFBL.current_page.results_div.empty();
      //OpenLayers.loadURL(IFBL.constants.wms_url, params, this, IFBL.current_page.callbackGetInfo, IFBL.current_page.callbackGetInfo);
      $.get(IFBL.constants.wms_url, params, IFBL.current_page.callbackGetInfo, 'xml');

    /*var url = IFBL.constants.wms_url 
      + "?REQUEST=GetFeatureInfo"
      + "&EXCEPTIONS=application/vnd.ogc.se_xml"
      + "&BBOX=" + map.getExtent().toBBOX()
      + "&X=" + e.xy.x
      + "&Y=" + e.xy.y
      + "&INFO_FORMAT=application/vnd.ogc.gml"
      + "&QUERY_LAYERS=" + IFBL.constants.mylayers.allsquares_original.name
      + "&LAYERS="+ IFBL.constants.mylayers.allsquares_original.name
      + "&FEATURE_COUNT=50"
      + "&SRS=EPSG:900913"
      + "&STYLES="
      + "&WIDTH=" + map.size.w
      + "&HEIGHT=" + map.size.h;
    window.open(url,
      "getfeatureinfo",
      "location=0,status=0,scrollbars=1,width=600,height=150"
    );*/

    });
  });
